@import "@/assets/styles/global.scss";

%truncate-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.input {
    width: 100%;
    display: inline-flex;
    z-index: 1;
    position: relative;
    flex-direction: column;
    vertical-align: bottom;
  
    > .label {
      top: 16px;
      left: 0;
      width: 100%;
      color: $lineWhiteColor;
      position: absolute;
      font-size: $typographySizeMedium;
      font-family: $typographyFamilyText;
      transition: color $animationTiming, transform $animationTiming, font-size $animationTiming;
      letter-spacing: 0.2px;
      pointer-events: none;
  
      @extend %truncate-text;
    }
  
    > .input {
      width: 100%;
      color: $lineWhiteColor;
      border: none;
      outline: none;
      padding: 20px 0 0;
      font-size: $typographySizeMedium;
      transition: color $animationTiming, border $animationTiming;
      background: none;
      border-bottom: 2px solid $lineWhiteColor;
  
      &:focus {
        border-color: $secondaryDarkColor;
      }
  
      &:focus ~ .label,
      &.-filled ~ .label {
        transform: translate(0.5px, -16px);
        font-size: $typographySizeXSmall;
        letter-spacing: normal;
      }
    }
  
    &.-search > .input {
      &::-ms-clear,
      &::-ms-reveal {
        width: 0;
        height: 0;
        display: none;
      }
  
      &::-webkit-search-decoration,
      &::-webkit-search-cancel-button,
      &::-webkit-search-results-button,
      &::-webkit-search-results-decoration {
        display: none;
      }
    }
  
    &.-number > .input {
      -moz-appearance: textfield;
  
      &::-webkit-inner-spin-button,
      &::-webkit-outer-spin-button {
        display: none;
      }
    }
  
    &.-date > .input {
      appearance: none;
      line-height: 22px;
  
      &::-webkit-clear-button,
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        display: none;
      }
  
      &::-webkit-datetime-edit-day-field,
      &::-webkit-datetime-edit-year-field,
      &::-webkit-datetime-edit-month-field {
        padding: 0;
      }
  
      &:not(:focus):not(.-filled)::-webkit-datetime-edit  {
        opacity: 0;
      }
    }
  
    &.-readonly,
    &.-disabled {
      > .icon,
      > .input,
      > .input:focus,
      > .label {
        color: $boxBaseColor;
        border-color: transparent;
        opacity: 1;
        background: none;
        touch-action: none;
        pointer-events: none;
      }
    }
  
    &.-invalid {
      > .input {
        border-color: $dangerColor;
  
        &:focus ~ .label,
        &.-filled ~ .label {
          color: $dangerColor;
        }
      }
  
      > .icon {
        color: $dangerColor;
      }
    }
  
    > .icon {
      top: 16px;
      right: 0;
      width: 24px;
      color: $secondaryDarkColor;
      height: 24px;
      z-index: 1;
      position: absolute;
      pointer-events: none;
      transition: color $animationTiming, transform $animationTiming;
  
      ~ .input,
      ~ .input:not(.-filled) ~ .label {
        padding-right: 28px;
      }
  
      ~ .input:focus ~ .label {
        padding-right: 0;
      }
    }
  }
  