@import "@/assets/styles/global.scss";

.row {
  display: flex;

  > * {
    flex: 1;
    margin-right: #{$baseline * 3};

    &:last-child {
      margin-right: 0;
    }
  }

  @media (min-width: calc($responsiveMd + 1px)) {
    padding: 0 $baseline * 5;
  }

  @media (max-width: $responsiveMd) {
    padding: 0 $baseline;
    flex-direction: column;

    > * {
      flex: auto;

      &:not(:last-child) {
        margin: 0 0 #{$baseline * 2} 0;
      }
    }
  }
}
