@import "@/assets/styles/global.scss";

$height: $baseline * 7;

.button {
  color: $secondaryColor;
  display: inline-flex;
  position: relative;
  font-size: $typographySizeSmall;
  font-family: $typographyFamilyText;
  background: transparent;
  transition: background $animationTiming, color $animationTiming, border $animationTiming;
  font-weight: $typographyWeightBold;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0;

  &:not(.-link) {
    min-height: $height;
    border-radius: $baseline;
    border: 1px solid transparent;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    background: darken(white, 5);

    &:active {
      background: darken(white, 7.5);
    }
  }

  &.-fullScreen {
    padding: 0 #{$baseline * 2};
    width: 100%;
  }

  &.-primary {
    padding: 0 #{$baseline * 2};
    border-color: $secondaryColor;
    box-shadow: 0 4px 4px 0 rgba(50, 60, 50, 0.2);

    &.-transparent {
      color: $secondaryColor;
      background: transparent;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background: darken(white, 5);
        border-color: darken($secondaryColor, 10);

        &:active {
          background: darken(white, 7.5);
          border-color: darken($secondaryColor, 20);
        }
      }
    }

    &:not(.-transparent) {
      color: white;
      background: $secondaryColor;
      border-color: $secondaryColor;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        color: white;
        background: darken($secondaryColor, 10);
        border-color: darken($secondaryColor, 10);

        &:active {
          background: darken($secondaryColor, 20);
          border-color: darken($secondaryColor, 20);
        }
      }
    }
  }

  &.-secondary {
    padding: 0 #{$baseline * 2};
    border-color: $textComplementColor;
    box-shadow: 0 4px 4px 0 rgba(50, 60, 50, 0.2);

    &.-transparent {
      color: $textComplementColor;
      background: transparent;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background: darken(white, 5);
        border-color: darken($textComplementColor, 10);

        &:active {
          background: darken(white, 7.5);
          border-color: darken($textComplementColor, 20);
        }
      }
    }

    &:not(.-transparent) {
      color: white;
      background: $textComplementColor;
      border-color: $textComplementColor;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        color: white;
        background: darken($textComplementColor, 10);
        border-color: darken($textComplementColor, 10);

        &:active {
          background: darken($textComplementColor, 20);
          border-color: darken($textComplementColor, 20);
        }
      }
    }
  }

  &.-cancel {
    padding: 0 #{$baseline * 2};
    border-color: $dangerColor;
    box-shadow: 0 4px 4px 0 rgba(50, 60, 50, 0.2);

    &.-transparent {
      color: $dangerColor;
      background: transparent;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background: darken(white, 5);
        border-color: darken($dangerColor, 10);

        &:active {
          background: darken(white, 7.5);
          border-color: darken($dangerColor, 20);
        }
      }
    }

    &:not(.-transparent) {
      color: white;
      background: $dangerColor;

      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        color: white;
        background: darken($dangerColor, 10);
        border-color: darken($dangerColor, 10);

        &:active {
          background: darken($dangerColor, 20);
          border-color: darken($dangerColor, 20);
        }
      }
    }
  }
}
