@import "@/assets/styles/global.scss";

.container {
    width: 100%;
    margin: 0 auto;
    position: relative;
    max-width: $responsiveXLg;
    background-color: $primaryColor;
    padding: #{$baseline * 5} #{$baseline * 3};

    @media (max-width: $responsiveLg) {
        max-width: calc($responsiveLg - 30px);
    }

    @media (max-width: $responsiveMd) {
        max-width: calc($responsiveMd - 30px);
    }

    @media (max-width: $responsiveSm) {
        max-width: calc($responsiveSm - 20px);
    }
}
