@import "@/assets/styles/global.scss";

.title {
  color: $titlePrimaryColor;
  margin: 0;
  font-weight: $typographyWeightBold;
  font-family: $typographyFamilyLogo;

  @media (max-width: $responsiveLg) {
    text-align: center;
  }

  &.-h1 {
    font-size: $typographySizeXXXLarge;

    @media (max-width: $responsiveLg) {
      font-size: $typographySizeXXLarge;
    }
  }

  &.-h2 {
    font-size: $typographySizeXXLarge;

    @media (max-width: $responsiveLg) {
      font-size: $typographySizeXLarge;
    }
  }

  &.-h3 {
    font-size: $typographySizeXLarge;

    @media (max-width: $responsiveLg) {
      font-size: $typographySizeLarge;
    }
  }

  &.-h4 {
    font-size: $typographySizeLarge;

    @media (max-width: $responsiveLg) {
      font-size: $typographySizeMedium;
    }
  }

  &.-h5 {
    font-size: $typographySizeMedium;

    @media (max-width: $responsiveLg) {
      font-size: $typographySizeSmall;
    }
  }

  &.-primary {
    color: $textTitleColor;
  }

  &.-secondary {
    color: $textComplementColor;
  }

  &.-bold {
    font-weight: $typographyWeightBold;

    @media (max-width: $responsiveLg) {
      font-weight: $typographyWeightMedium;
    }
  }

  &.-medium {
    font-weight: $typographyWeightMedium;

    @media (max-width: $responsiveLg) {
      font-weight: $typographyWeightNormal;
    }
  }

  &.-normal {
    font-weight: $typographyWeightNormal;

    @media (max-width: $responsiveLg) {
      font-weight: $typographyWeightLight;
    }
  }

  &.-light {
    font-weight: $typographyWeightLight;

    @media (max-width: $responsiveLg) {
      font-weight: $typographyWeightExtraLight;
    }
  }

  &.-x-light {
    font-weight: $typographyWeightExtraLight;

    @media (max-width: $responsiveLg) {
      font-weight: $typographyWeightExtraLight;
    }
  }

  > strong {
    font-weight: $typographyWeightMedium;
  }
}
