@import "@/assets/styles/global.scss";

.card {
  overflow: hidden;
  border-radius: $borderRadius;
  box-shadow: 0 2px 4px 0 $textBaseColor;
  background-color: $textBaseColor;

  &.-bordered {
    &.-info {
      border-left: solid 4px $successColor;
    }

    &.-success {
      border-left: solid 4px $textComplementColor;
    }

    &.-warning {
      border-left: solid 4px $warningColor;
    }

    &.-danger {
      border-left: solid 4px $dangerColor;
    }
  }

  &.-primary {
    > a.content,
    > button.content {
      &:hover:not(:disabled),
      &:focus:not(:disabled) {
        background: darken($textComplementColor, 5);

        &:active {
          background: darken($textComplementColor, 7.5);
        }
      }
    }

    > .content {
      background: $textComplementColor;
      color: $textBaseColor;
    }
  }

  > .content {
    width: 100%;
    display: block;
    color: $lineWhiteColor;
    text-decoration: none;
    background: $textBaseColor;
    padding: #{$baseline * 3};
    text-align: left;
    border: none;
  }

  > a.content,
  > button.content {
    border: none;

    &:disabled {
      opacity: 0.5;
      pointer-events: none;
    }

    &:hover:not(:disabled),
    &:focus:not(:disabled) {
      background: darken($textBaseColor, 5);

      &:active {
        background: darken($textBaseColor, 7.5);
      }
    }
  }

  > .footer {
    border-top: 1px solid $textBaseColor;
    padding: #{$baseline * 2} #{$baseline * 3};
  }
}
